* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 175, 0, 0.5), rgba(255, 255, 0, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.flex-container {
    height: 700px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 20px;
}


#bckg {
    width: 400px;
    height: 700px;
    background-image: url("./img/bckg.jpg");
    background-size: 750px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 10px 10px; 
}


.right-side{
    display: flex;
    flex-direction: column;
    width: 1000px;
}


#top {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 40px;
    height: 205px;
}

#mid{
    margin-left: 25px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(0, 0, 0, 0.1);
    width: 405px;
}

.form-section{
    height: 185px;
    width: 200px;
    margin-top: 20px;
}

label{
    font-family: 'DM Serif Display', serif;
    font-size: 15px;
    margin-left: 15px;
}

input {
    margin-bottom: 20px;
    background-color: rgb(255, 245, 205);
    border: 1px solid rgb(185, 145, 65);
    border-radius: 3px;
    margin-left: 15px;
}

input:focus{
    outline: none;
    border: 1px solid rgb(247, 243, 60);
}


#bot {
    margin-left: 25px;
    margin-top: 35px;;
    font-family: 'DM Serif Display', serif;
    font-size: 14px;
}

button {
    background-color: rgb(247, 243, 60);
    color: rgb(155, 106, 0);
    border: 2px solid rgb(155, 106, 0);
    border-radius: 5px;
    padding: 15px 15px;
    font-weight: bolder;
    font-size: medium;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 253, 120);
}

#login > a{
    color: rgb(155, 106, 0);
}

#login > a:hover{
    color: rgb(185, 145, 65);
}
